<div>
  <menu-nav></menu-nav>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card p-4 mt-5">
          <div class="input-group mb-3">
              <input type="text" class="form-control w-25 m-1" placeholder="Pesquisar personagem"  v-model="configs.filter">
              <button type="button" class="btn btn-white btn-rounded" style="border-radius: 10rem;" v-on:click="getListCharacters">
                <i class="fa fa-search"></i>
              </button>
            </div>
          <div style="display: inline-block">
            <span class="result-limit-characters">
              <label class="result-limit-label">Result Limit:</label>
                <select name="sub_type" class="form-control" v-model="configs.limitSelected" v-on:change="getListCharacters" style="width: 100px;">
                    <option  v-for="limit in limits" :value="limit">
                        {{limit}}
                    </option>
                </select>
            </span>
            <span class="orderby-characters">
              Ordered by:
              &nbsp;
              <a style="font-weight: bold; cursor:pointer" v-bind:class="{'active': configs.orderby == 'name'}" v-on:click="orderByCharacters('name')">Name</a> |
              <a style="font-weight: bold; cursor:pointer" v-bind:class="{'active': configs.orderby == '-modified'}" v-on:click="orderByCharacters('-modified')">Modified</a>
          </span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card p-0 mt-3">
          <div class="p-3 mt-3">
            <div v-for="character in listCharacters" :key="character.name" class="ui card fadeIn-animation container-character" v-on:click="moreInfoCharacter(character)">
            <div class="image">
              <img v-bind:src="getImageCharacter(character)" class="rounded img-thumbnail img-character" alt="Responsive image">
            </div>
            <div class="content">
              <div class="header character-name" data-toggle="tooltip" data-placement="top" :title="character.name">
                {{character.name}}
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <footer-custom  v-if="listCharacters.length > 0"></footer-custom>
</div>
