<div>
  <menu-nav></menu-nav>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-3 mt-4" v-if="character.name">
          <div :key="character.name" class="ui card fadeIn-animation" style="float: left;">
            <div class="image">
              <img v-bind:src="getImageCharacter(character)" style="min-height: 315px; max-height: 350px;" class="rounded img-thumbnail" alt="Responsive image">
            </div>
          </div>

          <div class="jumbotron" style="min-height: 355px; background: white">
            <h1>{{character.name}}</h1>
            <p class="lead">{{character.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <img :src="picture" width="300"  v-if="character.name">
      </div>
    </div>
  </div>
  <footer-custom  v-if="character.name"></footer-custom>
</div>
