<div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-signin">
         <img :src="img" width="250" class="rounded img-thumbnail p-0 m-2" alt="Responsive image">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required="" autofocus="" v-model="email">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control p-2" placeholder="Senha" required="" v-model="password" style="margin: 5px 0">
          <button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="login" style="margin: 10px 0">Login</button>
        </form>
      </div>
    </div>
  </div>

</div>
